						{% if is_granted("ROLE_USER") %}
                            {% set isFavorite = false %}
                            {% for favoris in announce.favoris %}
                                {% if favoris.id == app.user.id %}
                                    {% set isFavorite = true %}
                                {% endif %}
                            {% endfor %}
                            {% if isFavorite %}
                                <a href="{{ path('announce_remove_favoris', {slug: announce.slug}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
                                        </path>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{{ path('announce_add_favoris', {slug: announce.slug}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ee0808"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">

                                        </path>
                                    </svg>
                                </a>
                            {% endif %}

                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}

